
.card{
    width: 250px;
    height: 250px;
   
}

*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
#third{
    display: flex;
   
    margin-top: 20px;
    flex-wrap: wrap;
    margin-bottom: 30px;
    
}
#imgDiv{
  
}
.catName{
    padding-left: 15px;
    margin-top: 20px;
}
#head{
    background-color: black;
    color: white;
    text-align: center;
    margin-bottom: 20px;
    left: 0;
   
}
nav{
    
    display: flex;
    color: white;
    justify-content: space-between;
    padding: 20px;
    font-size: 22px;
    
}
.links{
    text-decoration: none;
    color:white;
    font-size: 20px;
}
.linkUl{
    display: flex;
    text-align: center;
    margin: 0px auto;
}
.link{
    text-decoration: none;
   margin-left: 10px;
    list-style: none;
}
.item{
    display: flex;
    flex-direction: column;
   margin: 0px auto;
    
   
   
}
.container{
    background-color: cadetblue;
   margin: 10px;
  margin-left: 20px;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
}
#cart{
    color: white;
    font-size: 20px;
}
#sidebar{
    padding: 10px;
    height: 100vh;
    position: fixed;
    width: 100px;
    background-color: cadetblue;
    top: 0;
    padding-top: 100px;
   
}
.carthead{
    text-decoration: none;
    color: black;
}

.rightside{
    margin-left: 100px;

}
.main{
    display: flex;
}
.heading{

}
#skirt{
    display: flex;
    margin-top: 20px;
    flex-wrap: wrap;
}
#gown{
    display: flex;
    margin-top: 20px;
    flex-wrap: wrap;
}
#trousers{
    display: flex;
    margin-top: 20px;
    flex-wrap: wrap;
}
#tophead{
    font-weight: bold;
    font-size: 22px;
}
#skirthead{
    font-weight: bold;
    font-size: 22px;
}
#gownhead{
    font-weight: bold;
    font-size: 22px;
}
#trouserhead{
    font-weight: bold;
    font-size: 22px;
}