
.card{
    width: 250px;
    height: 250px;
   
}

*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
#third{
    display: flex;
    height: 332px;
    margin-top: 20px;
}
#imgDiv{
  
}
#head{
    background-color: black;
    color: white;
    text-align: center;
}
nav{
    
    display: flex;
    color: white;
    justify-content: space-between;
    padding: 20px;
    font-size: 22px;
    
}
.linkUl{
    display: flex;
    text-align: center;
    margin: 0px auto;
}
.link{
    text-decoration: none;
   
    list-style: none;
}
.item{
    display: flex;
    flex-direction: column;
   
   
}
.container{
    background-color: cadetblue;
   margin: 10px;
  
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
}
#cart{
    color: white;
    font-size: 20px;
}
#sidebar{
    padding: 10px;
    height: 100vh;
    width: 100px;
    background-color: cadetblue;
}
.main{
    display: flex;
}
.heading{
    
}
#skirt{
    display: flex;
}
